{% extends 'layout.html' %}
{% block UserView %}
	<div class="ui grid">
		<div class="five wide column" id="Name"><h4 class="ui header">{{user.firstname}} {{user.lastname}}</h4></div>
		<div class="ui green button" style=" margin:1em; float:right;">
			<a style ="color:white" href={{urlFor('home')}}>
				Home
			</a>
		</div>		
	</div>	
	
	<!--<div class="grid">-->
		<h4 class="ui header">Locations:</h4>
		
		<form class="ui form" method="post" action={{urlFor('saveLocations')}}>

			<div class="2 fields">
				<div class="field">
					<label>PDH</label>
					<div class="ui selection dropdown" style="z-index:100">
						<div class="text">Time</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" ><input type="checkbox" value="09:00" name="pdh[]">09:00:PM</div>
							<div class="item" ><input type="checkbox" value="10:00" name="pdh[]">10:00:PM</div>
							<div class="item" ><input type="checkbox" value="11:00" name="pdh[]">11:00:PM</div>
							<div class="item" ><input type="checkbox" value="12:00" name="pdh[]">12:00:PM</div>
							<div class="item" ><input type="checkbox" value="01:00" name="pdh[]">01:00:PM</div>
							<div class="item" ><input type="checkbox" value="02:00" name="pdh[]">02:00:PM</div>
							<div class="item" ><input type="checkbox" value="03:00" name="pdh[]">03:00:PM</div>
							<div class="item" ><input type="checkbox" value="04:00" name="pdh[]">04:00:PM</div>
							<div class="item" ><input type="checkbox" value="05:00" name="pdh[]">05:00:PM</div>			
						</div>
					</div>
				</div>

				<div class="field" >
					<label>Olin</label>
					<div class="ui selection dropdown" style="z-index:100">
						<div class="text">Time</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" ><input type="checkbox" value="09:10" name="Olin[]">09:10:PM</div>
							<div class="item" ><input type="checkbox" value="10:10" name="Olin[]">10:10:PM</div>
							<div class="item" ><input type="checkbox" value="11:10" name="Olin[]">11:10:PM</div>
							<div class="item" ><input type="checkbox" value="12:10" name="Olin[]">12:10:PM</div>
							<div class="item" ><input type="checkbox" value="01:10" name="Olin[]">01:10:PM</div>
							<div class="item" ><input type="checkbox" value="02:10" name="Olin[]">02:10:PM</div>
							<div class="item" ><input type="checkbox" value="03:10" name="Olin[]">03:10:PM</div>
							<div class="item" ><input type="checkbox" value="04:10" name="Olin[]">04:10:PM</div>
							<div class="item" ><input type="checkbox" value="05:10" name="Olin[]">05:10:PM</div>			
						</div>
					</div>
				</div>
			</div>

			<div class="2 fields">
				<div class="field">
					<label>Commons</label>
					<div class="ui selection dropdown" style="z-index:99">
						<div class="text">Time</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" ><input type="checkbox" value="09:30" name="commons[]">09:30:PM</div>
							<div class="item" ><input type="checkbox" value="10:30" name="commons[]">10:30:PM</div>
							<div class="item" ><input type="checkbox" value="11:30" name="commons[]">11:30:PM</div>
							<div class="item" ><input type="checkbox" value="12:30" name="commons[]">12:30:PM</div>
							<div class="item" ><input type="checkbox" value="01:30" name="commons[]">01:30:PM</div>
							<div class="item" ><input type="checkbox" value="02:30" name="commons[]">02:30:PM</div>
							<div class="item" ><input type="checkbox" value="03:30" name="commons[]">03:30:PM</div>
							<div class="item" ><input type="checkbox" value="04:30" name="commons[]">04:30:PM</div>
							<div class="item" ><input type="checkbox" value="05:30" name="commons[]">05:30:PM</div>			
						</div>
					</div>
				</div>

				<div class="field">
					<label>WFIT</label>
					<div class="ui selection dropdown" style="z-index:99">
						<div class="text">Time</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" ><input type="checkbox" value="09:40" name="wfit[]">09:40:PM</div>
							<div class="item" ><input type="checkbox" value="10:40" name="wfit[]">10:40:PM</div>
							<div class="item" ><input type="checkbox" value="11:40" name="wfit[]">11:40:PM</div>
							<div class="item" ><input type="checkbox" value="12:40" name="wfit[]">12:40:PM</div>
							<div class="item" ><input type="checkbox" value="01:40" name="wfit[]">01:40:PM</div>
							<div class="item" ><input type="checkbox" value="02:40" name="wfit[]">02:40:PM</div>
							<div class="item" ><input type="checkbox" value="03:40" name="wfit[]">03:40:PM</div>
							<div class="item" ><input type="checkbox" value="04:40" name="wfit[]">04:40:PM</div>
							<div class="item" ><input type="checkbox" value="05:40" name="wfit[]">05:40:PM</div>			
						</div>
					</div>
				</div>
			</div>

			<div class="2 fields">
				<div class="field">
					<label>Presidents Office</label>
					<div class="ui selection dropdown" style="z-index:98">
						<div class="text">Time</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" ><input type="checkbox" value="09:50" name="pOfiice[]">09:50:PM</div>
							<div class="item" ><input type="checkbox" value="09:50" name="pOfiice[]">10:50:PM</div>
							<div class="item" ><input type="checkbox" value="10:50" name="pOfiice[]">11:50:PM</div>
							<div class="item" ><input type="checkbox" value="11:50" name="pOfiice[]">12:50:PM</div>
							<div class="item" ><input type="checkbox" value="01:50" name="pOfiice[]">01:50:PM</div>
							<div class="item" ><input type="checkbox" value="02:50" name="pOfiice[]">02:50:PM</div>
							<div class="item" ><input type="checkbox" value="03:50" name="pOfiice[]">03:50:PM</div>
							<div class="item" ><input type="checkbox" value="04:50" name="pOfiice[]">04:50:PM</div>
							<div class="item" ><input type="checkbox" value="05:50" name="pOfiice[]">05:50:PM</div>			
						</div>
					</div>
				</div>

				<div class="field">
					<label>Clemente</label>
					<div class="ui selection dropdown" style="z-index:98">
						<div class="text">Time</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" ><input type="checkbox" value="09:00" name="clementeTime[]">09:00:PM</div>
							<div class="item" ><input type="checkbox" value="10:00" name="clementeTime[]">10:00:PM</div>
							<div class="item" ><input type="checkbox" value="11:00" name="clementeTime[]">11:00:PM</div>
							<div class="item" ><input type="checkbox" value="12:00" name="clementeTime[]">12:00:PM</div>
							<div class="item" ><input type="checkbox" value="01:00" name="clementeTime[]">01:00:PM</div>
							<div class="item" ><input type="checkbox" value="02:00" name="clementeTime[]">02:00:PM</div>
							<div class="item" ><input type="checkbox" value="03:00" name="clementeTime[]">03:00:PM</div>
							<div class="item" ><input type="checkbox" value="04:00" name="clementeTime[]">04:00:PM</div>
							<div class="item" ><input type="checkbox" value="05:00" name="clementeTime[]">05:00:PM</div>			
						</div>
					</div>
				</div>
			</div>

			<div class="ui buttons">
			<a class="ui red submit button" href={{urlFor('home')}}>Cancel</a> 
			<div class="or"></div>
			<input type="submit" value="save" class="ui green submit button">
		</div>

		</form>
	<!--</div>-->
	
{% endblock %}