{% extends 'layout.html' %}
{% block UserView %}
	<div class="ui grid">
		<div class="five wide column" id="Name"><h4 class="ui header">{{user.firstname}} {{user.lastname}}</h4></div>
		<div class="ui green button" style=" margin:1em; float:right;">
			<a style ="color:white" href={{urlFor('home')}}>
				Home
			</a>
		</div>		
	</div>	
	
	<!--<div class="grid">-->
		<h4 class="ui header">Locations:</h4>
		
		<form class="ui form">

			<div class="six fields">
				<div class="field">
					<label>Clemente</label>
					<div class="ui simple selection dropdown" style="z-index:1000">
						<div class="text">Time</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="horizontal flip"><input type="checkbox" value="9:00">9:00</div>
							<div class="item" data-value="horizontal flip"><input type="checkbox" value="10:00">10:00</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	<!--</div>-->
	
{% endblock %}