{% extends 'layout.html' %}
{% block UserView %}
	<div class="ui grid">
		<div class="five wide column" id="Name"><h4 class="ui header">{{user.firstname}} {{user.lastname}}</h4></div>
		<div class="column">
			<div class="ui inverted purple button"><a href={{urlFor('editAccount')}}>Account</a></div>
		</div>
		
	</div>

	<div class="grid">
		{% if value %}
		<div class="six wide column"><!--temporary remove after demo-->
			<div class="ui icon message success">
				<div class="content">
					{{msg}}
				</div>
			</div>
		</div>
		{% endif %}
		<h4 class="ui header">My Locations:</h4>
		<div class="ui divided list" id="locations"><!-- over here we pull info (an array) from user controller -->
			<!-- for each array as element -->


		</div>
		<div class="ui teal button">Add/Remove</div>
	</div>
{% endblock %}