{% extends 'layout.html' %}
{% block UserView %}
	<div class="ui grid">
		<div class="five wide column" id="Name"><h4 class="ui header">{{user.firstname}} {{user.lastname}}</h4></div>
		<div class="column">
			<div class="ui inverted purple button"><a href={{urlFor('editAccount')}}>Account</a></div>
		</div>		
	</div>

	<div class="grid">
		{% include 'error.html' %}
		<h4 class="ui header">My Locations:</h4>
		<table class="ui small table segment users striped">
			<thead>
				<tr>
					<th>Location</th>
					<th>Location ID</th>
					<th>Time</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{% for location in locations %}
				<tr>
					<td>
						{{location.location}}
					</td>
					<td>
						{{location.id}}
					</td>
					<td>
						{{location.time}}
					</td>
					<td>
						<form class="ui form" method="post" action={{urlFor('deleteLocation')}}>
							<input type="submit" class="ui tiny red button" value="delete">
							<input type="hidden" name="locationID" value = "{{location.id}}">
						</form>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="ui teal button"><a href={{urlFor('editLocations')}} style="color:white;">Add</a></div>
	</div>
{% endblock %}